# Dummy NPL build
*.o
/porting/examples/dummy/dummy

# nRF5 SDK build
/porting/examples/freertos_nrf5_sdk/nrf5_sdk
/porting/examples/freertos_nrf5_sdk/pca10040/blank/armgcc/_build/
/porting/examples/freertos_nrf5_sdk/pca10056/blank/armgcc/_build/
