Brian Giori <briangiori@gmail.com>			<bgiori@users.noreply.github.com>
Christopher Collins <ccollins@apache.org>		<ccollins476ad@gmail.com>
Christopher Collins <ccollins@apache.org>		<ccollins@iori.nightmare-heaven.no-ip.biz>
Jakub Rotkiewicz <jakub.rotkiewicz@codecoup.pl>		<jakub.rotkiewicz@codecoup.pl>
Jakub Rotkiewicz <jakub.rotkiewicz@codecoup.pl>		<rotkiewicz.jakub@gmail.com>
Magdalena Kasenberg <magdalena.kasenberg@codecoup.pl>	<magdalena.kasenberg@codecoup.pl>
Magdalena Kasenberg <magdalena.kasenberg@codecoup.pl>	<magdalena.kasenberg@codecoup.pl>
Marko Kiiskila <marko@apache.org>			<marko@runtime.io>
Michał Narajowski <michal.narajowski@codecoup.pl>	<michal.narajowski@codecoup.pl>
Sterling Hughes <sterling@apache.org>			<sterling@runtime.io>
Sterling Hughes <sterling@apache.org>			<sterlinghughes@users.noreply.github.com>
Szymon Czapracki <szymon.czapracki@codecoup.pl>		<szymonczapracki@gmail.com>
Szymon Janc <szymon.janc@codecoup.pl>			<szymon.janc@gmail.com>
Vipul Rahane <vipulrahane@apache.org>			<vipul@runtime.io>
Vipul Rahane <vipulrahane@apache.org>			<vrahane@gmail.com>
Vipul Rahane <vipulrahane@apache.org>			<vipul@proxy.com>
Will San Filippo <william.sanfilippo@juul.com>		<william.sanfilippo@juul.com>
Will San Filippo <william.sanfilippo@juul.com>		<will@micosa.io>
Will San Filippo <william.sanfilippo@juul.com>		<wills@runtime.io>

