#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

rx:
  dev_index: '1'
  own_address_type: 1
  own_address: C0:0D:A5:1A:98:EF
  peer_dev_index: '2'
  peer_address_type: 1
  peer_address: FE:69:8F:77:2F:49
tx:
  dev_index: '2'
  own_address_type: 1
  own_address: FE:69:8F:77:2F:49
  peer_dev_index: '1'
  peer_address_type: 1
  peer_address: C0:0D:A5:1A:98:EF
test_dir: /path/to/blehci_throughput/tests/Mon_May_23_12:29:10_2022
transport_directory: default or /path/to/custom_transport.py
ltk: '0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'